In [3]:
import pandas as pd
import numpy as np

In [4]:
x2_pd = pd.read_csv('X2.csv')
y_pd = pd.read_csv('Y.csv')

In [5]:
x2_pd

          id       A
0          3       5
1          3   70340
2          3   72868
3          3   73471
4          3   74998
...      ...     ...
462883  8056  142893
462884  8056  142687
462885  8056  139577
462886  8056  128067
462887  8056  213997

[462888 rows x 2 columns]

In [ ]:
d = {}
for i in range(len(x2_pd)):
    if x2_pd['A'][i] in d:
        d[x2_pd['A'][i]]